.header {
  box-shadow:
    0 1px 6px #11111629,
    0 1px 1px #11111629,
    0 2px 1px #11111629;
}
.container {
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
