.searchBox {
  max-width: 270px;
  margin-bottom: 20px;
}
.label {
  margin-bottom: 5px;
  display: block;
}
.input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #808080;
}
