.form {
  max-width: 270px;
  padding: 15px;
  border: 1px solid #000;
  border-radius: 10px;
  margin-bottom: 20px;
}
.label {
  margin-bottom: 5px;
  width: 100%;
  display: block;
}
.labelItem {
  margin-top: 15px;
}
.input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #808080;
}
.btn {
  padding: 5px;
  margin: 15px auto 0 auto;
  display: block;
  border-radius: 5px;
  border: 1px solid #808080;
}
.error {
  color: #e20f7e;
}
